<script src="{{projcfg.appurl}}/static/js/fontJquery/jquery.flot.js"></script>
<script src="{{projcfg.appurl}}/static/js/fontJquery/jquery.flot.resize.js"></script>
<script src="{{projcfg.appurl}}/static/js/fontJquery/jquery.flot.pie.js"></script>
<script src="{{projcfg.appurl}}/static/js/fontJquery/jquery.flot.tooltip.js"></script>
<script src="{{projcfg.appurl}}/static/js/fontJquery/jquery.flot.orderBars.js"></script>
<script src="{{projcfg.appurl}}/static/js/echart/v3.1.3/echarts.min.js"></script>
<script src="{{projcfg.appurl}}/static/laydate/laydate.js"></script>
<script src="{{projcfg.appurl}}/static/code/highcharts.js"></script>
<script src="{{projcfg.appurl}}/static/code/modules/exporting.js"></script>
<script src="{{projcfg.appurl}}/static/common/sence.js"></script>
<script src="{{projcfg.appurl}}/static/code/drilldown.js"></script>



<div class="row" style="solid: rgba(106,93,153,0.51)">

    <div class="col-xs-10 col-md-10 text-left">
            <label>采集时间&nbsp从</label>
            <input id="queryDateStart" name="queryDateStart" style="height: 34px;width:120px ">
            &nbsp到&nbsp
            <input id="queryDateEnd" name="queryDateEnd" style="height: 34px;width:120px ">
            <label>&nbsp&nbsp地区</label>

            <input class="easyui-combobox" value="请选择地市" style="width: 130px;height:34px;" name="district1"
                   id="district1"/>


            <label>&nbsp&nbsp场景</label>
            <input class="easyui-combobox" value="请选择场景" style="width: 130px;height:34px;" name="firstScene"
                   id="firstScene"/>
            <input class="easyui-combobox" value="请选择场景" style="width: 130px;height:34px;" name="secondScene"
                   id="secondScene"/>
    </div>

    <div class="col-xs-2 col-md-2 text-left">
        <div class="btn-group" style="margin-top: 3px">

            <a class="btn btn-default dropdown-toggle" data-toggle="dropdown" onclick="getNetCellAll();"
               aria-expanded="false">
                查询 <i class="glyphicon glyphicon-search"></i>
            </a>
        </div>
    </div>
</div>

<div style="padding: 10px 5px 5px 10px">

    <div class="row" style="padding:20px 0 10px 0">
        <div style="padding-left:30px">
            <button class="btn   purple" type="button" onclick=" checkAllData();">
                <i class="fa ">
                </i>
                全部
            </button>
            <button class="btn   purple" type="button" onclick=" checkWeekCount();">
                <i class="fa ">
                </i>
                弱覆盖
            </button>
            <button class="btn   purple" type="button" onclick="exportExcel();" style="padding-left:20px">
                <i class="fa fa-share">
                </i>
                导出到Excel
            </button>
        </div>
    </div>
    <div class="row">
        <div style="padding:10px 0 20px 0">
            <div class="col-md-6">
                <div id="districtDiv"></div>
            </div>
            <div class="col-md-6">
                <div id="sceneDiv"></div>
            </div>
        </div>
    </div>
</div>

<div class="mydialog" id="downloadExcel" style="padding: 20px 0 0 30px">
    <div>
        <div class="row">
            <div class="col-md-12">
                <form id="downloadExcel">

                    <div class="row">
                        <button class="btn   purple" type="button" style="padding-right:20px">
                            <a id="links" href="" onclick="downloadXLS()">
                                <i class="fa fa-save">
                                </i>
                                下载Excel
                            </a>
                        </button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>


<div class="row" style="padding: 10px 5px 5px 10px">
    <div class="col-md-12" style="height: 500px">
        <table id="showAllCover"></table>
    </div>
</div>


<script>

    /**
     * 载入页面时加载远程数据绘制统计图，加载数据显示在表格中
     */
    $(document).ready(function () {
        getNetCellAll();
    });


    var fileName = '';

    function exportExcel() {
        //获取当前选择的数据行内容
        // var rows = $('#showWeekCover').datagrid('getSelections');
        var params = getParameter();
        $.ajax({
            url: "{{projcfg.appurl}}/api/netCell/exportAndInput_router/exportAllCoverExcel",
            type: "get",
            data: {rows: params},
            success: function (data) {
                //如果导出成功，即弹出下载狂
                if (data.success) {
                    //暂存文件名
                    fileName = data.data.fileName;
                    msgSuccess(data.msg);
                    $('#downloadExcel').show();
                    $('#downloadExcel').mydialog({
                        title: '下载文件',
                        autoOpen: false,
                        width: 300,
                        height: 250,
                        top: 50,
                        modal: true,
                        myButtons: [
                            {   text: '取消',
                                btnCls: 'btn btn-default',
                                width: 20,
                                handler: function () {
                                    $('#downloadExcel').dialog('close');
                                }
                            }
                        ]
                    });
                }else{
                    msgError(data.msg)
                }
            }
        });

    }

    //下载已生成的excel表格
    function downloadXLS() {

        document.getElementById("links").href = "{{projcfg.appurl}}/static/file/exportExcel/" + fileName;
        $('#downloadExcel').dialog('close');


    }

    /**
     * 时间插件，并显示在框内
     */
    var currentDate=new Date();
    //查询开始时间
    laydate.render({
        elem: '#queryDateStart',
        type: 'date',
        theme: '#1640b6',
        calendar: true,
        max: currentDate.getFullYear() + "-" + (currentDate.getMonth()) + '-' + (currentDate.getDate()),
        format: 'yyyy-MM-dd',
        done: function(value, date, endDate){

        }
    });
    //查询结束时间
    laydate.render({
        elem: '#queryDateEnd',
        type: 'date',
        theme: '#1640b6',
        calendar: true,
        max: currentDate.getFullYear() + "-" + (currentDate.getMonth() + 1) + '-' + (currentDate.getDate()),
        format: 'yyyy-MM-dd',
        done: function (value, date, endDate) {

        }
    });
    //开始时间
    var ownMonth = (currentDate.getMonth() + 1);
    var ownDay = (currentDate.getDate());
    var thisDay = currentDate.getFullYear() + "-" + ((ownMonth >= 10) ? ownMonth : ('0' + ownMonth)) + '-' + ((ownDay >= 10) ? ownDay : ('0' + ownDay));

    //结束时间
    var thatMonth = (currentDate.getMonth());
    var thatDay = currentDate.getFullYear() + "-" + ((thatMonth >= 10) ? thatMonth : ('0' + thatMonth)) + '-' + ((ownDay >= 10) ? ownDay : ('0' + ownDay));

    $('#queryDateEnd').val(thisDay);
    $('#queryDateStart').val(thatDay);


    /**
     * 查询全部统计，即全部数据按地市或场景进行统计
     *
     */

    var currentChooseStatus="all";//week
    function checkAllData() {
        currentChooseStatus="all";
        var params = getParameter();
        //获取全部数据
        $.ajax({
            url: "{{projcfg.appurl}}/api/netCell/netCell_router/checkAll",
            type: "post",
            data: params,
            success: function (data) {
                //按照地市统计
                drawDistrict(data.data.citis, data.data.num1);
                //按照场景统计
                drawScene(data.data.scenes, data.data.num2,"全部场景统计",data.data.drilldownData);
            }
        });


    }

    /**
     * 查询弱覆盖统计，即弱覆盖数据按地市或场景进行统计
     *
     */
    function checkWeekCount() {
        currentChooseStatus="week";
        var params = getParameter();
        //获取弱覆盖数据

        $.ajax({
            url: "{{projcfg.appurl}}/api/netCell/netCell_router/checkWeek",
            type: "post",
            data: params,
            success: function (data) {
                //按照地市统计
                drawDistrict(data.data.citis, data.data.num1);
                //按照场景统计
                drawScene(data.data.scenes, data.data.num2,"弱覆盖数据场景统计",data.data.drilldownData);
            }
        });

    }



    /**
     *  设置联动选择，每个第一场景下有不相同的二级场景
     *
     */
    var scene=readScene();
    var typeData = scene.typeData;
    var options01 = scene.options01;
    var options02 = scene.options02;
    var options03 = scene.options03;
    var options04 = scene.options04;
    var direct=scene.direct;
    //初始化查询项目的下拉列表
    $("#district1").combobox({
        valueField: 'value',//值字段
        textField: 'text',//显示的字段
        data: direct,
        panelWidth: 130,
        autoHeight: true,
        onSelect:function (a) {
            console.log(a);
        }
    });


    $("#firstScene").combobox({
        valueField: 'value',//值字段
        textField: 'text',//显示的字段
        data: typeData,
        panelHeight: "auto",
        onSelect: function () {
            var myOptValue = $("#firstScene").combobox("getValue");
            // console.log('myOptValue = ' + myOptValue);
            //1.清空原来的classify这个combobox中的选项
            $("#secondScene").combobox("clear");
            //2.动态添加"操作类型"的下拉列表框的option
            if (myOptValue != null && myOptValue === '全部') {

                $("#secondScene").combobox({
                    autoHeight: true,
                    data: '',
                    valueField: 'value',//值字段
                    textField: 'text'//显示的字段
                });
            }
            else if (myOptValue != null && myOptValue === '城区') {

                $("#secondScene").combobox({
                    autoHeight: true,
                    data: options01,
                    valueField: 'value',//值字段
                    textField: 'text'//显示的字段
                });
            } else if (myOptValue != null && myOptValue === '乡镇') {

                $("#secondScene").combobox({
                    autoHeight: true,
                    data: options02,
                    valueField: 'value',//值字段
                    textField: 'text'//显示的字段
                });
            } else if (myOptValue != null && myOptValue === '农村') {

                $("#secondScene").combobox({
                    autoHeight: true,
                    data: options03,
                    valueField: 'value',//值字段
                    textField: 'text'//显示的字段
                });
            } else if (myOptValue != null && myOptValue === '交通') {

                $("#secondScene").combobox({
                    autoHeight: true,
                    data: options04,
                    valueField: 'value',//值字段
                    textField: 'text'//显示的字段
                });
            }

        }
    });


    /**
     *  按照地市进行统计
     */
    function drawDistrict(data1, data2) {

        $('#districtDiv').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: '区县统计'
            },
            subtitle: {
                text: ''
            },
            xAxis: {
                categories: data1,
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: '条 (数据)'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                series: {
                    borderWidth: 3,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                }
            },
            series: [{
                name: '区县',
                data: data2,
                events:{
                    click: function (data) {
                       var target=data.point.category;
                        var params = getParameter();
                       params['target']=target;

                       if(currentChooseStatus==="all"){
                           $.ajax({
                               url: "{{projcfg.appurl}}/api/netCell/netCell_router/checkAll",
                               type: "post",
                               data: params,
                               success: function (data) {
                                   //按照场景统计
                            drawScene(data.data.scenes, data.data.num2,target+"下全部数据的场景统计",data.data.drilldownData);
                               }
                           });
                       }
                       else if(currentChooseStatus==="week"){
                           $.ajax({
                               url: "{{projcfg.appurl}}/api/netCell/netCell_router/checkWeek",
                               type: "post",
                               data: params,
                               success: function (data) {
                                   //按照地市统计
                                   drawDistrict(data.data.citis, data.data.num1);
                                   //按照场景统计
                                   drawScene(data.data.scenes, data.data.num2,target+"下弱覆盖数据的场景统计",data.data.drilldownData);
                               }
                           });
                       }else{
                           msgError("图标选择状态错误");
                       }




                    }
                }
            }],
            credits: {
                enabled: false     //不显示LOGO
            },
            exporting: {
                buttons: {
                    contextButton: {
                        // 自定义导出菜单项目及顺序
                        menuItems: [
                            '下载',
                            {
                                separator: true
                            },
                            '导出',
                            {
                                text: '下载 PDF 文件',
                                onclick: function () {
                                    this.exportChart({
                                        type: 'application/pdf',
                                        title:'地市统计图片'
                                    });
                                }
                            },
                            {
                                text: '下载 PNG 文件',
                                onclick: function () {
                                    this.exportChart({
                                        type: 'application/png'
                                    });
                                }
                            },
                            {
                                text: '下载 JPEG 文件',
                                onclick: function () {
                                    this.exportChart({
                                        type: 'application/jpeg'
                                    });
                                }
                            }
                        ]
                    }
                }
            }
        });

    }


    /**
     *  按照场景进行统计
     */
    function drawScene(data1, data2,title,drillData) {
        if(title==undefined||title==null||title=='')
            title="场景统计"
        $('#sceneDiv').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: title
            },
            subtitle: {
                text: ''
            },
            plotOptions: {
                series: {
                    borderWidth: 3,
                    dataLabels: {
                        enabled: true,
                        format: '{point.y}'
                    }
                }
            },
            xAxis: {
                type: 'category'
            },
            yAxis: {
                title: {
                    text: '条数'
                }
            },
            series: [{
                name: title,
                colorByPoint: true,
                data: data1
            }],
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.1f} </b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            credits: {
                enabled: false     //不显示LOGO
            },
            drilldown: {
                series:drillData
            },
            exporting: {
                buttons: {
                    contextButton: {
                        // 自定义导出菜单项目及顺序
                        menuItems: [
                            '下载',
                            {
                                separator: true
                            },
                            '导出',
                            {
                                text: '下载 PDF 文件',
                                onclick: function () {
                                    this.exportChart({
                                        type: 'application/pdf'
                                    });
                                }
                            },
                            {
                                text: '下载 PNG 文件',
                                onclick: function () {
                                    this.exportChart({
                                        type: 'application/png'
                                    });
                                }
                            },
                            {
                                text: '下载 JPEG 文件',
                                onclick: function () {
                                    this.exportChart({
                                        type: 'application/jpeg'
                                    });
                                }
                            }
                        ]
                    }
                }
            }
        });

    }


    /**
     *  点击查询后，执行统计画图方法
     *  根据查询条件，执行全部数据查询
     */
    function getNetCellAll() {

        //获取数据并统计图
        checkAllData();

        var params = getParameter();

        //获取数据并弹出数据表格
        $('#showAllCover').datagrid({
            url: "{{projcfg.appurl}}/api/netCell/netCell_router/getAllCover",
            method: 'post',
            queryParams: params,
            title: '全部数据',
            rownumbers: true,
            autoRowHeight: true,
            fitColumns: true,
            resizable: true,
            fixed: true,
            border: true,
            height: 600,
            singleSelect: true,
            // iconCls: "icon-save",//图标
            width: "100%",
            nowrap: false, //默认true,设置为 true，则把数据显示在一行里。
            striped: true, //设置为 true，则把行条纹化。（即奇偶行使用不同背景色）
            collapsible: false,//是否可折叠的
            remoteSort: true,//默认true,定义是否从服务器排序数据。
            checkOnSelect: true,
            // singleSelect: true,
            columns: [[



                {
                    "field": "ID", "title": "ID", align: 'center', hidden: true
                },
                {
                    "field": "ECI", "title": "ECI", align: 'center'
                },
                {
                    "field": "TAC", "title": "位置区域码", align: 'center'
                },
                {
                    "field": "BSSS", "title": "信号强度", fixed: true, sortable: true
                },
                {

                    "field": "GpsLon", "title": "经度", fixed: true
                },
                {
                    "field": "GpsLat", "title": "纬度", fixed: true
                },
                {
                    "field": "collectUsername", "title": "上传人姓名", halign: 'center'
                },
                {
                    "field": "phoneNumber", "title": "上传人手机号", halign: 'center'
                },
                {
                    "field": "FromDepartment", "title": "上传人部门", halign: 'center'

                },
                {
                    "field": "phoneType", "title": "手机型号", halign: 'center'
                },
                {
                    "field": "overlayScene", "title": "覆盖场景", halign: 'center'
                },
                {
                    "field": "district", "title": "区县", halign: 'center'
                },
                {
                    "field": "address", "title": "详细地址", halign: 'center'
                },
                {
                    "field": "NetworkOperatorName", "title": "服务商信息", halign: 'center'
                },
                {
                    "field": "city", "title": "城市", halign: 'center'
                },
                {
                    "field": "solveStatus", "title": "解决状态", halign: 'center'
                },
                {
                    "field": "solveTime", "title": "解决时间", halign: 'center', sortable: true ,hidden:true
                },
                {
                    "field": "collTime", "title": "采集时间", halign: 'center', sortable: true
                }

            ]],
            onClickRow: function (rowIndex, rowData) {

            },
            onBeforeLoad: function (param) {

            },
            onLoadSuccess: function (json) {
                // console.log(json);
            },
            onLoadError: function () {
                msgError('加载数据出现时发生错误,请稍候重试...');
            },
            pagination: true,
            loadMsg: '正在加载...'
        });
    }

    //封装查询条件
    function getParameter() {

        var queryDateStart = $('#queryDateStart').val();
        var queryDateEnd = $('#queryDateEnd').val();
        var city = $('#district1').combobox("getValue");
        var firstScene = $('#firstScene').combobox("getValue");
        var secondScene = $('#secondScene').combobox("getValue");

        return {
            queryDateStart: queryDateStart,
            queryDateEnd: queryDateEnd,
            city: city,
            firstScene: firstScene,
            secondScene: secondScene
        };


    }


</script>







